<div id="jumbotron-content" class="jumbotron">
    <h1>The Seven Rules of a Great Git Commit Message</h1>
    <hr>
    <ol>
        <li>Seperate subject from body with a <i>line</i></li>
        <li>Limit the subject line to <i>50 characters</i></li>
        <li><i>Capitalize</i> the subject line</li>
        <li>Do not end the subject line with a <i>period</i></li>
        <li>Use the <i>imperative mood</i> in the subject line</li>
        <li>Wrap the body at 72 characters</li>
        <li>Use the body to explain <i>what and why</i> vs. <i>how</i></li>
    </ol>

</div>